<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{list.title}"></title>
</head>
<body>
    <header th:replace="~{common::headerStudent}"></header>
    <h2 th:text="#{list.title}"></h2>
    <form action="/student">
        <input type="text" name="keyword" th:value="${keywordOld}" />
        <input type="submit" value="Search" />
    </form>
    <p style="color: green" th:text="${message}"></p>
    <table border="1">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Date of birth</th>
            <th>Rank</th>
            <th>Gender</th>
            <th>Class</th>
            <th>Request param</th>
            <th>Path variable</th>
            <th>Update</th>
        </tr>
        <th:block th:each="student : ${listStudent}">
            <tr>
                <td th:text="${student.id}"></td>
                <td th:text="${student.name}"></td>
                <td th:text="${student.dateOfBirth}"></td>
                <td>
                    <span th:if="${student.mark < 5}">Bad</span>
                    <span th:if="${student.mark >= 5}">Good</span>
                </td>
                <td th:switch="${student.gender}">
                    <span th:case="1">Male</span>
                    <span th:case="0">Female</span>
                    <span th:case="*">None</span>
                </td>
                <td th:text="${student.classStudent.name}"></td>
                <td><a th:href="@{/student/detail(id=${student.id}, name=${student.name})}">Request param</a></td>
                <td><a th:href="@{/student/detail/{id}(id=${student.id})}">Path variable</a></td>
                <td><a th:href="@{/student/update(id=${student.id})}">Update</a></td>
            </tr>
        </th:block>
    </table>
    <a th:if="${listStudent.hasPrevious()}" th:href="@{/student(page = ${listStudent.number - 1}, keyword = ${keywordOld})}">Previous</a>
    <span th:text="${listStudent.number + 1}"></span>/<span th:text="${listStudent.totalPages}"></span>
    <a th:if="${listStudent.hasNext()}" th:href="@{/student(page = ${listStudent.number + 1}, keyword = ${keywordOld})}">Next</a>
    <th:block th:each="i: ${#numbers.sequence(0, listStudent.totalPages - 1)}">
        <a th:href="@{/student(page = ${i}, keyword = ${keywordOld})}" th:text="${i + 1}"></a>
    </th:block>
    <!--    <footer th:insert="common::footerStudent"></footer>-->
<!--    <th:block th:insert="common::footerStudent"></th:block>-->
    <footer th:replace="common::footerStudent"></footer>
</body>
</html>
