<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{/layout/layout::header}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="~{/layout/layout::title}"></div>
<nav th:replace="~{/layout/layout::navbar}"></nav>
<div class="container-fluid">
    <div class="body row position-relative" style="top: 160px">
        <div class="col-2 border position-fixed" style="height: 670px; left: 15px">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Item One</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Item Two</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Item Three</a>
                </li>
            </ul>

        </div>
        <div class="col-10 pl-4" style="left: 16.66%">
            <h2>FULL HOUSE BẮT ĐẦU MỘT CUỘC SỐNG MỚI</h2>
            <p>Full House Da Nang thiết kế vô cùng hiện đại, tiện nghi, rộng rãi và vô cùng thoáng mát.
                Bao gồm: nội thất hiện đại, 1 giường ngủ lớn 1m8, smart tivi 40 inch, bàn ăn, combo bếp ăn, tủ lạnh,
                điều hoà, nước nóng lạnh, có ban công và khu vực giặt quần áo riêng.
                Căn hộ cũng sẽ miễn phí wifi nhanh, my tivi cable, chỗ đỗ xe thoải mái và bao gồm dọn vệ sinh 1-2 lần
                trên tuần ☘️Diện tích: 40m2
                LIÊN HỆ VỚI CHÚNG TÔI
                📞Hotline: MR ĐẠT: 085 508 9999
                or MRS VAN: 085 9999 576
                📧Email: fullhousedanang.apartment@gmail.com
                📍Địa chỉ :109 Quách Thị Trang. khu đô thị sinh thái Hoà Xuân, Q. Cẩm Lệ, TP. Đà Nẵng..</p>
            <img src="image/anhFullHosue.jpg" align="left" class="img-thumbnail mr-1" width="300" height="300">
            <p>Mẫu tiếp theo là một phương án để bạn tham khảo cho căn hộ 45m2 được chia thành 1 phòng ngủ. Với kiểu
                phân chia công năng này, không gian cũng tương đối hẹp do vậy cần bố trí khu vực chức năng chung gồm
                phòng khách, bàn ăn, phòng bếp theo không gian mở, liền kề nhau không có vách ngăn.Những căn hộ khoảng
                45m2 khi trang trí nội thất hãy lựa chọn những tông màu sáng: Màu trắng, be, kem, màu trung tính như ghi
                xám tạo điểm nhấn là một gợi ý bạn nên tham khảo. Giống như sự kết hợp trong mẫu thiết kế này, không gian
                nhà bạn sẽ sáng hơn.Để tạo điểm nhấn có thể sử dụng những chi tiết trang trí, đèn hắt,.. màu vàng, giúp
                không gian ấm áp hơn đồng thời tránh cảm giác đơn điệu.Thiết kế nội thất chung cư nhỏ nên chọn màu trắng
                như căn hộ 45m2 này để không gian sáng, những màu đậm có thể khiến căn hộ trông nhỏ và bí bách hơn. </p>
            <img src="image/anhFullHosue2.jpg" align="left" class="img-thumbnail mr-1" width="300" height="300">
            <p>Những gia đình đa thế hệ thì căn hộ Full House 1 phòng ngủ chính là sự lựa chọn hoàn hảo nhất bởi không gian
                sống vừa đảm bảo tính riêng tư – vừa có tính kết nối cao và có thể đáp ứng mọi nhu cầu của mọi thành viên.
                Loại hình căn hộ này có diện tích 45m2, gồm 1 phòng ngủ bố trí gần nhau – ngăn cách bởi hành lang ở giữa,
                1 phòng bếp kín, 1 phòng ăn thông với phòng khách, 1 ban công rộng ngay trước phòng khách, 1 lô gia và 1 WC.
                Có thể thấy, các phòng chức năng trong căn hộ mẫu Full House 1 phòng ngủ được bố trí vô cùng hợp lý, đem đến
                cảm giác ấm cúng cho cả gia đình.
                Nếu có thu nhập cao, tài chính vững chắc và muốn tận hưởng cuộc sống hiện đại – tiện nghi và thoải mái
                nhất thì căn hộ Full House 1 phòng ngủ xứng đáng là lựa chọn hàng đầu.</p>
        </div>
    </div>
</div>
<footer th:replace="~{/layout/layout::footer}"></footer>
</body>
</html>