<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h3>View Category</h3>
<table class="table table-sm">
    <tbody>
    <tr>
        <td>Category name</td>
        <td>List Blog</td>
    </tr>
    <tr>
        <td th:text="${category.getCategoryName()}"></td>
        <td>
            <th:block th:each="blog: ${category.getCategoryBlogList()}"><p th:text="${blog.getBlogTitle()}"></p>
            </th:block>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>