<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Blog</title>
</head>
<body>
<h1>Edit Blog</h1>
<p>
    <a href="/blog">Blog list</a>
</p>
<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/user/edit-blog}" th:object="${blog}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>Blog Name:</td>
            <td><input type="text" th:field="*{name}"/></td>
        </tr>
        <tr>
            <td>Type Blog:</td>
            <td>
                <select th:field="*{category}">
                    <option th:each="c : ${category}" th:value="${c.id}" th:text="${c.name}"
                            th:selected="(${c.id} == *{category.id})"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Content:</td>
            <td><textarea th:field="*{content}" rows="4" cols="50"></textarea></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Edit Blog"></td>
        </tr>
    </table>
</form>
</body>
</html>