<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>List student</title>
</head>
<body>
    <header th:replace="~{common::headerCustomer}"></header>
    <p style="color: green" th:text="${message}"></p>
    <table border="1">
        <tr>
            <th>Id</th>
            <th>Name</th>

            <th>Age</th>


            <th>Update</th>
            <th>Delete</th>
        </tr>
        <th:block th:each="customer : ${listCustomer}">
            <tr>
                <td th:text="${customer.id}"></td>
                <td th:text="${customer.name}"></td>
                <td th:text="${customer.age}"></td>


                <td><a th:href="@{/customer/update/(id=${customer.id})}">Update</a></td>
                <td><a th:href="@{/customer/delete(id=${customer.id})}">Delete</a></td>
            </tr>
        </th:block>
    </table>
<!--    <footer th:insert="common::footerStudent"></footer>-->
<!--    <th:block th:insert="common::footerStudent"></th:block>-->
    <footer th:replace="common::footerCustomer"></footer>
</body>
</html>
