<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a href="/create-category">Create new Category</a>
<h1>Category</h1>
<table border="1">
    <tr>
        <th>Category Name</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <th:block th:each="category : ${category}">
        <tr>
            <td ><a th:href="@{/view-category/__${category.id}__ }" th:text="${category.name}"></a></td>
            <td><a th:href="@{/edit-category/__${category.id}__ }">Edit</a></td>
            <td><a th:href="@{/delete-category/__${category.id}__ }" class="delete" title="Delete" id="delete"
                   data-toggle="tooltip" data-confirm="Are you sure to delete this item?">Delete</a></td>
        </tr>
    </th:block>
</table>
<div>
    <a th:href="@{'/blog'(page=${category.number - 1})}" th:if="${category.hasPrevious()}">Previous</a>
    <span th:text="${category.number + 1}"></span>/<span th:text="${category.totalPages}"></span>
    <a th:href="@{'/blog'(page=${category.number + 1})}" th:if="${category.hasNext()}">Next</a>
</div>
</body>
<script>
    (function () {
        'use strict';
        window.addEventListener('load', function () {
            var deleteLinks = document.querySelectorAll('.delete');
            for (var i = 0; i < deleteLinks.length; i++) {
                deleteLinks[i].addEventListener('click', function(event) {
                    event.preventDefault();
                    var choice = confirm(this.getAttribute('data-confirm'));
                    if (choice) {
                        window.location.href = this.getAttribute('href');
                    }
                });
            }
        }, false);
    })();
</script>
</html>